<button routerLink="/students" class="mb-5 "><i class='bx bx-arrow-back me-1'></i>Go Back</button>
<div class="container d-flex justify-content-center " style="height:100vh;">
<div class="alert alert-dark container" *ngIf="student; else loading">
  <p>Student name: {{student.name}}</p>
  <p> Username: {{student.username}}</p>
  <p>Email Address: {{student.email}}</p>
  <p>Phone: {{student.phone}}</p>
  <p>Website: {{student.website}}</p>
  <div class="alert alert-success">
    <h5>Student Address</h5>
    <p>Street: {{student.address.street}}</p>
    <p>Suite: {{student.address.suite}}</p>
    <p>City: {{student.address.city}}</p>
  </div>
</div>

<div class="loader-container ">
  <ng-template #loading>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" height="128px" width="128px" class="pl">
      <circle stroke-dashoffset="-376.4" stroke-dasharray="377 377" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="8" stroke="hsl(3,90%,55%)" fill="none" r="60" cy="64" cx="64" class="pl__ring1"></circle>
      <circle stroke-dashoffset="-329.3" stroke-dasharray="329.9 329.9" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="7" stroke="hsl(13,90%,55%)" fill="none" r="52.5" cy="64" cx="64" class="pl__ring2"></circle>
      <circle stroke-dashoffset="-288.6" stroke-dasharray="289 289" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="6" stroke="hsl(23,90%,55%)" fill="none" r="46" cy="64" cx="64" class="pl__ring3"></circle>
      <circle stroke-dashoffset="-254" stroke-dasharray="254.5 254.5" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="5" stroke="hsl(33,90%,55%)" fill="none" r="40.5" cy="64" cx="64" class="pl__ring4"></circle>
      <circle stroke-dashoffset="-225.8" stroke-dasharray="226.2 226.2" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="4" stroke="hsl(43,90%,55%)" fill="none" r="36" cy="64" cx="64" class="pl__ring5"></circle>
      <circle stroke-dashoffset="-203.9" stroke-dasharray="204.2 204.2" stroke-linecap="round" transform="rotate(-90,64,64)" stroke-width="3" stroke="hsl(53,90%,55%)" fill="none" r="32.5" cy="64" cx="64" class="pl__ring6"></circle>
    </svg>

</ng-template>
</div>
</div>