.parent{
  width: 600px;
  height: 350px;
  border-radius: 20px;
}

.left, .right{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 1000;
  cursor: pointer;
}

.left{
  transform: translate(-15px,-200px);
}
.right{
  transform: translate(560px,-255px);
}
div i{
  font-size: 50px;
  opacity: 0.5;
}

button{
  transform: translate(250px,-90px);
  background-color: transparent;
  border: none;
}
button i {
  font-size: 30px;
  cursor: pointer;
}
img{
    width: 600px;
    height: 350px;
    border-radius: 20px;
}
